@(title: String, guides: List[GuidesData])(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(title) {
	<div>
		@content
	</div>
} {
	<h4>Available Guides</h4>
	<ul class="nav nav-pills nav-stacked">
		@for(guide <- guides) {
			<li>
				<a href="@controllers.guides.routes.GuidesAdmin.edit(guide.path)">@guide.name</a>
			</li>
		}
		<li>
			<a href="@controllers.guides.routes.GuidesAdmin.create()"><span class="glyphicon glyphicon-plus-sign"></span> @Messages("guides.create")</a>
		</li>
	</ul>
}