@(f: Form[models.GuidesPage], g: GuidesData, pages: List[GuidesPage], guides: List[GuidesData], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@guidesAdminLayout(Messages("guides.page.create"), guides, Some(pages -> g)) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
    	@p.renderForm(None, f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("guides.page.create"))
	}
}