@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.core.routes.Assets.at("images/favicon.png")">
	    <link href="@controllers.core.routes.Assets.at("bootstrap/css/datepicker.css")" rel="stylesheet">
        <link href="@controllers.core.routes.Assets.at("css/admin.css")" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        @styles

        <!-- Temporary var for Angular file location -->
        <script>
            var ANGULAR_ROOT = "@controllers.core.routes.Assets.at("js")";
        </script>
    </head>
    <body data-spy="scroll" data-target="#form-nav-sidebar">
        @helper.requireJs(
             core = controllers.core.routes.Assets.at("js/lib/require.js").url,
             module = controllers.core.routes.Assets.at("js/admin").url,
             folder = "js"
         )
        @scripts

        <div id="wrap" class="page-container">
            @layout.adminNavBar()
            <div class="page-content">
                @content
                <div id="push"></div>
            </div>
        </div>
        @layout.footer()

    </body>
</html>
